body{
  margin: 0;
  padding: 0;
}
.top{
  width: 1000px;
  margin: 0 auto;
  background: #fff;
  font-size: 14px;
}
.top_logo{
  background: #fff;
  display: inline-block;
  width: 300px;
  height: 61px;
}
.top_logo img{
  float: left;
  margin-top: 11px;
  margin-left: 4px;
}
.top_time{
  float:right;
  color: #d45d5c;
  margin-top: 45px;
}
.mid_txt {
  position: absolute;
  right: 47%;
  top: 45px;
}
.middle {
  height: 550px;
  border-top: 1px solid #938e8c;
}
.mid{
  margin-top: 0;
  margin-left: 120px;
}
.middle_txt {
  position: absolute;
  top: 100px;
  right: 250px;
  width: 250px;
}
.today{
    position: absolute;
  top: 100px;
  right: 250px;
  width: 250px;
  color: #000;
  font-size: 40px;
  font-family: arial;
  border-bottom: 2px solid #000; 
}
.todaytitle {
    position: absolute;
  top: 200px;
  right: 100px;
  width: 400px;
  color: #000;
  font-size: 30px;
  font-family: arial;
}
.todayauthor {
    position: absolute;
  top: 300px;
  right: 250px;
  width: 250px;
  color: #000;
  font-size: 10px;
  font-family: arial;
}
footer{
  clear: both;
  margin: 0 auto;
  height: 40px;
  border-top: 1px solid #938e8c;
}
footer p{
  text-align: center;
  font: 16px "黑体";
  color: #5a5b5b;
}